@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  color: #2196f3;
  margin: 20px;
}

mat-checkbox {
  margin-right: 20px;
}

mat-panel-title .material-icons {
  margin-right: 10px;
}

.md-icon-16 {
  @include md-icon-size(16px);
}

.md-icon-18 {
  @include md-icon-size(18px);
}

.md-icon-24 {
  @include md-icon-size(24px);
}

.md-icon-36 {
  @include md-icon-size(36px);
}

.md-icon-48 {
  @include md-icon-size(48px);
}

.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
