<div class="container">
  <mat-card>
    <p><img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" /></p>
    <mat-card-content>
      <form class="form" name="emailForm" (ngForm)="(email)">
        <mat-card-title translate>Enter your email address:</mat-card-title>
        <mat-form-field class="full-width" hintLabel="Note: We'll generate breached report for that email">
          <input matInput placeholder="Email" [formControl]="email" required />
          <mat-error *ngIf="email.invalid" translate>Enter valid email address!</mat-error>
          <!-- TODO fix matError -->
        </mat-form-field>
        <mat-card-subtitle>
          <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
          <p [hidden]="isLoading">{{ report }}</p>
        </mat-card-subtitle>
        <mat-card-actions>
          <button
            mat-raised-button
            angulartics2On="click"
            angularticsAction="Click button below quote"
            (click)="handleMainClick($event)"
            [disabled]="email.invalid"
            [angularticsCategory]="queue"
          >
            Click me to send an Analytics event
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
